*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: url(./images/weather.jpg);

}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-top: 50px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 480;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.sun-time{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: rgb(245, 245, 245);
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto auto;
    margin-top: 20px;
}
.sun-time p{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .card {
        padding: 30px 20px;
    }
    
    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 35px;
    }

    .details {
        flex-direction: column;
        margin-top: 30px;
        padding: 0;
    }

    .col {
        margin-bottom: 20px;
        justify-content: center;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .card {
        margin: 50px auto;
        padding: 20px 15px;
    }

    .search input {
        font-size: 16px;
        height: 50px;
        padding: 8px 20px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 28px;
    }

    .details {
        padding: 0;
    }

    .humidity, .wind {
        font-size: 18px;
    }

    .weather-icon {
        width: 120px;
        margin-top: 20px;
    }
}
